name: Build a single Docker image (reusable)

on:
  workflow_call:
    inputs:
      base_image:
        description: The FROM base image
        required: true
        type: string
      push_image:
        description: Image name on the LCAS registry
        required: true
        type: string
      ros_distro:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      architectures:
        required: true
        type: string
    outputs:
      digest:
        description: Image digest from the build
        value: ${{ jobs.build.outputs.digest }}
    secrets:
      LCAS_REGISTRY_PUSHER:
        required: true
      LCAS_REGISTRY_TOKEN:
        required: true

jobs:
  build:
    runs-on: [lcas, qemu]
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    steps:
      - uses: actions/setup-node@v4
      - uses: actions/checkout@v3
      - run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - uses: docker/login-action@v3
        with:
          registry: lcas.lincoln.ac.uk
          username: ${{ secrets.LCAS_REGISTRY_PUSHER }}
          password: ${{ secrets.LCAS_REGISTRY_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: latest=false
          labels: |
            org.opencontainers.image.description=AOC Docker Image (${{ inputs.push_image }}, ${{ inputs.ros_distro }})
            org.opencontainers.image.authors=L-CAS Team
          images: lcas.lincoln.ac.uk/${{ inputs.push_image }}
          tags: |
            type=raw,value=${{ inputs.ros_distro }}-staging
            type=raw,enable=${{ github.event_name != 'pull_request' }},value=${{ inputs.ros_distro }}-latest
            type=ref,enable=${{ github.event_name != 'pull_request' }},event=branch,prefix=${{ inputs.ros_distro }}-
            type=semver,pattern={{version}},prefix=${{ inputs.ros_distro }}-
            type=semver,pattern={{major}}.{{minor}},prefix=${{ inputs.ros_distro }}-
            type=semver,pattern={{major}},prefix=${{ inputs.ros_distro }}-

      - uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          file: ./${{ inputs.dockerfile }}
          platforms: ${{ inputs.architectures }}
          push: true
          cache-from: type=registry,ref=lcas.lincoln.ac.uk/cache/${{ inputs.push_image }}:${{ inputs.ros_distro }}
          cache-to:   type=registry,ref=lcas.lincoln.ac.uk/cache/${{ inputs.push_image }}:${{ inputs.ros_distro }},mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BASE_IMAGE=${{ inputs.base_image }}
            ROS_DISTRO=${{ inputs.ros_distro }}
